@page "/"
@using Blazor.Diagrams.Components
@using ForkHierarchy.Client.Components

<PageTitle>Index</PageTitle>

<div style="display: flex;">
    <MudCard class="mx-auto" Style="text-align: center; width: 25em; padding: 1em 1em 1em 1em;">

        <MudTextField Class="align-center" Style="min-width: 300px; width:10vw" Placeholder="Owner/Repo" Colo @bind-Value="FullNameSearch" />
        
        <MudButton Style="margin-top: 2em; margin-bottom: 0.5em" Variant="Variant.Filled" Color="Color.Primary" OnClick="Search">Search</MudButton>
    </MudCard>
</div>
