@page "/Display/{Id}"
@using Blazor.Diagrams.Components
@using ForkHierarchy.Components

<PageTitle>Hierarchy</PageTitle>

<MudCard Style="position: fixed; z-index: 1; right:1vw; top:1vh; width: 25em;text-align: center; padding: 1em 1em 1em 1em">
    <MudCardContent>
        <MudText Typo="Typo.h6">Filter</MudText>
        <MudTextField Label="Owner" class="align-center" Style="min-width: 300px; width:10vw" @bind-Value="ViewModel.Filter.OwnerName" />
        <MudTextField Label="Text Search" class="align-center" Style="min-width: 300px; width:10vw" @bind-Value="ViewModel.Filter.TextSearch" />
        <MudNumericField Label="Min Stars" HideSpinButtons="true" @bind-Value="ViewModel.Filter.MinStars" Variant="Variant.Text" />
        <MudDatePicker Label="Last Commit After" Editable="true" @bind-Date="ViewModel.Filter.LastCommitAfter" DateFormat="yyyy-MM-dd" />
    </MudCardContent>

    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ViewModel.Render" Disabled="ViewModel.Rendering">Render Graph</MudButton>
        <MudCheckBox Label="Reset Position" @bind-Checked="ViewModel.ResetPosition"></MudCheckBox>
    </MudCardActions>
</MudCard>

<div style="z-index: -1;position: fixed;left:0; top:0;height: 100vh; width: 100%;background-color: #595b6b">
    <div>
        <!-- Add this where you want to show the diagram -->
        <CascadingValue Value="ViewModel.Diagram">
            <DiagramCanvas></DiagramCanvas>
        </CascadingValue>
    </div>
</div>

@if (ViewModel.Rendering)
{
    <div class="spinner"></div>
}
