@page "/Hierarchy"
@using Blazor.Diagrams.Components
@using ForkHierarchy.Components

<PageTitle>Hierarchy</PageTitle>

<MudCard Style="position: fixed; z-index: 1; right:1vw; top:1vh; width: 25em;text-align: center; padding: 1em 1em 1em 1em">

    <MudTextField class="align-center" Style="min-width: 300px; width:10vw" Placeholder="GitHub Repository Url..." @bind-Value="ViewModel.RepositoryUrl" />

    <MudCheckBox class="align-center" @bind-Checked="ViewModel.FromSource">From Source</MudCheckBox>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ViewModel.UserRender">Render Graph</MudButton>
</MudCard>

<div style="z-index: -1;position: fixed;left:0; top:0;height: 100vh; width: 100%;background-color: hotpink">
    <div>
        <!-- Add this where you want to show the diagram -->
        <CascadingValue Value="ViewModel.Diagram">
            <DiagramCanvas></DiagramCanvas>
        </CascadingValue>
    </div>
</div>

@if (ViewModel.Rendering)
{
    <div class="spinner"></div>
}
