@page "/"
@using Blazor.Diagrams.Components
@using ForkHierarchy.Services;
@inject HierachyBuilder HierachyBuilder

<PageTitle>Index</PageTitle>
<style>
    html {
        background-color: red;
    }
</style>
<div style="background-color: green">

    <!-- Add this where you want to show the diagram -->
        <CascadingValue Value="Diagram">
    <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>
