@page "/"
@using Blazor.Diagrams.Components
@using ForkHierarchy.Services;

<PageTitle>Index</PageTitle>

<div style="width: 100%; background-color: white;">
    <div class="input-group mb-3" style="margin-top: 0.5vh; margin-bottom: 0.5vh">
        <input type="text" class="form-control" style="width:2em" placeholder="GitHub Repository Url..." @bind="RepositoryUrl">

        <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" value="" @bind="FromSource" style="margin-right: 0.5em">
            <label class="form-check-label">
                From Source
            </label>
        </div>

        <button class="btn btn-outline-secondary" type="button" @onclick="UserRender">Render Graph</button>
    </div>
</div>



<div style="position: relative; top: 1vh; float: right; margin-right: 1vw">
    <div class="card">
        <div class="card-header">
            <a class="collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nameSearch" href="#nameSearch">Good evening</a>
        </div>

        <div class="card-body collapse" id="nameSearch">
            Stuff
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <a class="collapsed" data-bs-toggle="collapse" href="#otherStuff">Hello</a>
        </div>

        <div class="card-body collapse" id="otherStuff">
            Other stuff
        </div>
    </div>

</div>




@*<div style="position: fixed;height: 100%; width: 100%;background-color: hotpink">*@
<div style="z-index: -1;position: fixed;height: 100%; width: 100%;background-color: hotpink">
    <!-- Add this where you want to show the diagram -->
    <CascadingValue Value="Diagram">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>

@if (Rendering)
{
    <div class="spinner"></div>
}
