@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>ForkHierarchy</PageTitle>
@*
<div>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>
*@

<MudLayout>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>