.container {
    width: 75%;
}

.list-group-item.left-side-50 {
    margin: 0 0 -1px;
    float: left;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    border-bottom-width: 0px;
}

.list-group-item.right-side-50 {
    margin: 0 0 -1px;
    float: left;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    border-bottom-width: 0px;
}


.list-group-item.left-side {
    margin: 0 0 -1px;
    float: left;
    width: 35%;
    max-width: 35%;
    min-width: 35%;
    border-bottom-width: 0px;
}

.list-group-item.right-side {
    margin: 0 0 -1px;
    float: left;
    width: 65%;
    max-width: 65%;
    min-width: 65%;
    border-bottom-width: 0px;
}

.split-items .list-group-item.left-side {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.split-items .list-group-item.right-side {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 4px;
    border-left: 0;
}
